In [1]:
import pandas as pd
from typing import List

In [2]:
# this is to simulate calling a script from cli with arguments
ARGS: List[str] = ['', '1']

In [3]:
day: int = int(ARGS[1])
print(f"Running pipeline for day {day}")

Running pipeline for day 1

In [4]:
df = pd.DataFrame({"A": [1, 2]})
df.head()

   A
0  1
1  2

In [6]:
df.to_parquet(f"output_day_{day}.parquet")